.jarvis-page-container,
.jarvis-sidebar-container,
.jarvis-sidebar-container .q-toolbar,
.jarvis-popup,
.jarvis-popup .jarvis-StateList {
	background-color: #0cbaba;
	background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
}

.body--dark .jarvis-header {
	background-color: rgba(0,0,0,0.2) !important;
}

.jarvis-tabs-container {
	background-color: rgba(0,0,0,0.2) !important;
}

.jarvis-widget-container {
	background-color: rgba(0,0,0,0.2) !important;
}

.body--dark .jarvis-widget {
	background: rgba(0,0,0,0.2);
}

.body--light .jarvis-widget {
	background: rgba(255,255,255,1);
}

.body--dark .jarvis-tabs-container {
	background-color: rgba(0,0,0,0.2) !important;
}

.q-table__container {
	background-color: transparent !important;
}

.jarvis-sidebar {
	background-color: #0cbaba;
	background-image: linear-gradient(315deg, #0cbaba 0%, #661f64 74%);
	/* #661f64 old #380036*/
}

.jarvis-sidebar .items-center {
	background-color: #0cbaba;
	background-image: linear-gradient(315deg, #0cbaba 0%, #661f64 74%);
	/* #661f64 old #380036*/
}